@import '~@/styles/defaultStyles.scss';
@font-face {
  font-family: 'SofiaPro';
  src: url('../../assets/family/SofiaPro.ttf');
  vertical-align: baseline;
}

* {
  font-family: 'SofiaPro', -apple-system, BlinkMacSystemFont, 'Helvetica',
    'Segoe UI', 'Roboto', 'Oxygen', 'Ubuntu', 'Cantarell', 'Fira Sans',
    'Droid Sans', 'Helvetica Neue', sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  padding: 0;
  margin: 0;
}

html {
  background-color: transparent;
}

body {
  margin: 0 auto;
  max-width: 540px;
  background-color: #000000;
}

.share_body {
  padding-bottom: 100px;
  .cover {
    width: 100%;
    height: 460px;
    position: relative;
    img {
      width: 100%;
      height: 100%;
    }
    .overspread {
      position: absolute;
      bottom: 0;
      left: 0;
      width: 100%;
      height: 84px;
      background-image: url('./assets/icon_shade_2@3x.png');
      background-size: 100% 100%;
    }
  }
  .book_info {
    padding: 0 18px;
    .title {
      margin-bottom: 6px;
      width: 339px;
      font-size: 19px;
      font-weight: bold;
      color: #ffffff;
      line-height: 29px;
      word-wrap: break-word;
    }
    .state_info {
      color: rgba($color: #ffffff, $alpha: 0.5);
      span {
        color: rgba($color: #fff, $alpha: 0.76);
      }
      .update_status_color {
        color: #e83a57;
      }
    }
    .synopsis {
      margin-top: 16px;
      width: 339px;
      font-size: 13px;
      font-weight: 500;
      color: #ffffff;
      line-height: 20px;
      opacity: 0.76;
    }
  }
}

.no_data {
  position: fixed;
  top: 45%;
  left: 50%;
  transform: translate(-50%, -50%);
  text-align: center;
  font-size: 15px;
  padding: 20px 0;
  img {
    width: 272px;
    height: 218px;
  }
  .text {
    font-size: 14px;
    color: rgba(255, 255, 255, 0.5);
    line-height: 15px;
  }
}
