@import '~@/styles/defaultStyles.scss';
.drawer_modal {
  position: fixed;
  width: 100%;
  height: 100%;
  display: none;
  background-color: pink;
  margin: 0 auto;
  top: 0;
  left: 0;
  background-color: rgba($color: #000000, $alpha: 0.9);
  z-index: 999999;
  touch-action: pan-y;
  .drawer_modal_box {
    background-color: transparent;
    position: relative;
    margin: 0 auto;
    top: 50%;
    transform: translateY(-60%);
  }
  .drawer_content {
    display: flex;
    justify-content: center;
    margin: 0 auto;
  }
}

.close_btn {
  position: absolute;
  width: 33px;
  height: 33px;
  background: url(https://v-mps.crazymaplestudios.com/images/7aede3a0-8296-11ee-aed2-cfe3d80f70eb.png)
    no-repeat center center / 33px 33px;
  left: 50%;
  margin-left: -16px;
  margin-top: 45px;
}
.open {
  display: block;
}

// body {
//   overscroll-behavior: none;
// }
