* {
  margin: 0;
  box-sizing: border-box;
}
.body {
  h1 {
    margin-top: 19px;
    height: 34px;
    font-size: 24px;
    font-weight: bold;
    color: #000000;
    border-bottom: solid 1px rgba(0, 0, 0, 0.2);
    padding-left: 20px;
    padding-right: 20px;
    padding-bottom: 12px;
  }
  .content_box {
    margin: 0 12px;
    margin-top: 28px;
    background: linear-gradient(135deg, #b93376 0%, #3f1665 59%, #190e48 100%);
  }
  .floor {
    margin-top: 43px;
    text-align: center;
    color: #888;
    font-weight: bold;
    font-size: 12px;
  }
}
