@font-face {
  font-family: "SofiaPro";
  src: url("../../assets/family/SofiaPro.ttf");
  vertical-align: baseline;
}

* {
  font-family: 'SofiaPro', -apple-system, BlinkMacSystemFont, 'Helvetica', 'Segoe UI', 'Roboto', 'Oxygen', 'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue', sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

html {
  background-color: #000;
}

body {
  margin: 0 auto;
  padding-bottom: constant(safe-area-inset-bottom);
  padding-bottom: env(safe-area-inset-bottom);
}

.main {
  padding: 12px 16px;
  .each_module {
    margin-bottom: 8px;
    overflow: hidden;
    .title {
      font-size: 20px;
      font-weight: 700;
      line-height: 30px;
      color: rgba(255, 255, 255, 0.9);
      margin-bottom: 8px;
    }
    .desc {
      font-size: 14px;
      font-weight: 400;
      line-height: 21px;
      color: rgba(255, 255, 255, 0.7);
      margin-bottom: 8px;
    }
    .golden_color {
      color: rgba(255, 199, 134, 1);
    }
    .second_content {
      margin-bottom: 12px;
      .second_headings {
        font-size: 18px;
        font-weight: 500;
        line-height: 27px;
        color: rgba(255, 255, 255, 0.9);
        margin-bottom: 4px;
      }
    }
    
    .three_headings {
      font-size: 16px;
      font-weight: 500;
      line-height: 24px;
      color: rgba(255, 255, 255, 0.9);
      margin-bottom: 4px;
    }
  }
}





