.buySusscessModel {
  width: 308px;
  height: 398px;
  background: url(https://v-mps.crazymaplestudios.com/images/670a07c0-8cf9-11ee-aed2-cfe3d80f70eb.png)
    no-repeat;
  background-size: 100% auto;
  border-radius: 6px 6px 6px 6px;
  display: flex;
  flex-direction: column;
  align-items: center;

  .model_Header {
    .header_title {
      width: 308px;
      height: 39px;
      margin-top: 48px;
      background: url(https://v-mps.crazymaplestudios.com/images/00fe57d0-8e5f-11ee-aed2-cfe3d80f70eb.png)
        no-repeat;
      background-size: 100% auto;
    }
    .header_info {
      width: 230px;
      height: 64px;
      color: #c4c4c4;
      font-size: 13px;
      text-align: center;
      margin: 0 auto;
      margin-top: 7px;
      span {
        font-size: 15px;
        color: rgba(202, 222, 213, 1);
        display: inline-block;
      }
    }
  }
  .model_content {
    width: 221px;
    height: 138px;
    // margin: 0 auto;
    margin-top: 12px;
  }
  .model_btn {
    margin: 0 auto;
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-top: 14px;

    .model_btn_CountdownTimer {
      font-size: 12px;
      line-height: 15px;
      color: #d2d2d2;
      margin: 0 auto;
    }
    .model_btn_watch {
      width: 227px;
      height: 44px;
      display: flex;
      justify-content: center;
      align-items: center;
      color: rgba(255, 234, 190, 1);
      font-size: 16px;
      background-color: rgba(234, 52, 66, 1);
      margin-top: 4px;
      border-radius: 6px;
    }
  }
}
