// @import '~@/styles/defaultStyles.scss';
// @font-face {
//   font-family: 'SofiaPro';
//   src: url('./assets/family/georgia.ttf');
//   vertical-align: baseline;
// }
* {
  // font-family: var(--fontFamily);
  // font-family: 'Times New Roman', Times, serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}
.page-ctr {
  position: relative;
  width: 100%;

  // display: flex;
  // flex-direction: column;
  // justify-content: space-between;
  // align-items: center;
  min-height: calc(100vh);
  background-color: rgba($color: #000, $alpha: 0.7);
  overflow: hidden;

  &::before {
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-repeat: no-repeat;
    background-position: center center;
    background-attachment: fixed;
    background-size: cover;
    filter: blur(10px);
    z-index: -1;
  }

  .is_footer {
    width: 100%;
    display: flex;
    justify-content: center;
    position: fixed;
    bottom: 0;
    padding-bottom: 26px;
    // left: 50%;
    // margin-left: -169px;
  }
  .bottom-btn {
    display: flex;
    width: 339px;
    height: 50px;
    line-height: 50px;
    padding-left: 92px;
    border-radius: 3px;
    text-align: center;
    background-color: #e83a57;
    font-size: 18px;
    font-weight: bold;
    color: #fff;
    cursor: pointer;
    animation: btnChange 0.9s linear infinite;

    .rounds {
      position: relative;
      display: flex;
      justify-content: center;
      align-items: center;
      margin-left: 20px;
      width: 50px;
      height: 50px;

      .finger {
        position: absolute;
        width: 50px;
        height: 50px;
        background: url(./assets/icon_finger.png) no-repeat;
        background-size: cover;
        transform: translate(25px, 25px);
        animation: fingerMove 0.9s linear infinite;
      }
    }

    @keyframes fingerMove {
      0% {
        transform: translate(25px, 25px);
      }

      33% {
        transform: translate(17px, 17px);
      }

      66% {
        transform: translate(17px, 17px);
      }

      100% {
        transform: translate(25px, 25px);
      }
    }

    @keyframes btnChange {
      0% {
        transform: scale(1);
      }

      33% {
        transform: scale(1);
      }

      66% {
        transform: scale(0.92);
      }

      100% {
        transform: scale(1);
      }
    }
  }
}
