.fall_ground_box3 {
  position: relative;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  max-width: 750px;
  height: 100%;
  padding: 12px 18px 19px;
  overflow: hidden;
  width: 100%;
  margin: 0 auto;
  .header {
    display: flex;
    align-items: center;

    .header_icon {
      width: 18px;
      height: 18px;
      background: url(../../assets/logo.png) no-repeat;
      background-size: cover;
    }

    .header_title {
      margin-left: 6px;
      font-size: 16px;
      font-weight: 500;
      line-height: 22px;
      color: #ffffff;
    }
  }

  .cover {
    margin-top: 15px;
    width: 219px;
    height: 292px;
    border-radius: 6px;
    border: solid 1px rgba(255, 255, 255, 0.24);
    overflow: hidden;

    img {
      width: 100%;
      height: 100%;
    }
  }

  .title {
    margin-top: 21px;
    width: 100%;
    font-size: 19px;
    line-height: 26px;
    color: #f5f5f5;
    font-weight: 500;
    overflow: hidden;
    white-space: nowrap;
    text-overflow: ellipsis;
  }

  .desc {
    margin-top: 4px;
    width: 100%;
    font-size: 14px;
    line-height: 19px;
    font-weight: 500;
    color: rgba($color: #fff, $alpha: 0.8);
    overflow: hidden;
    text-overflow: ellipsis;
    display: -webkit-box;
    -webkit-box-orient: vertical;
    -webkit-line-clamp: 4;
    white-space: pre-line;
  }
}
