* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

$default-font-family: -apple-system, BlinkMacSystemFont, 'Helvetica Neue',
  'Helvetica', 'Segoe UI', 'Roboto', 'Oxygen', 'Ubuntu', 'Cantarell',
  'Fira Sans', 'Droid Sans', 'Helvetica Neue', sans-serif;

body {
  font-family: $default-font-family;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  font-size: 0.22rem;
}

// 单行超出省略号
@mixin one-row-ellipsis {
  overflow: hidden;
  white-space: nowrap;
  text-overflow: ellipsis;
}

// 两行超出省略
@mixin two-row-ellipsis {
  overflow: hidden;
  text-overflow: ellipsis;
  display: -webkit-box;
  -webkit-line-clamp: 2;
  -webkit-box-orient: vertical;
}

// 多行超出省略
@mixin multiple-row-ellipsis($row) {
  overflow: hidden;
  text-overflow: ellipsis;
  display: -webkit-box;
  -webkit-line-clamp: $row;
  -webkit-box-orient: vertical;
  //让超长单词换行
  word-wrap: break-word;
}

// 移动端1px的mixin
// 用法
// <div class="need-1px-border">需要1px边框线的元素, 红色, 在下方</div>
// .need-1px-border {
//     @include border-1px(red, bottom);
// }
$border-poses: top, right, bottom, left;
$border-color: #eee;

@mixin border-1px($color: $border-color, $poses: $border-poses) {
  position: relative;

  &::after {
    content: '';
    display: block;
    position: absolute;
    width: 100%;

    @each $pos in $poses {
      border-#{$pos}: 1px solid $color;
      #{$pos}: 0;
    }

    @if $poses== 'top' or $poses== 'bottom' {
      left: 0;
      right: 0;
      transform: scaleY(0.5);
    }

    @if $poses== 'left' or $poses== 'right' {
      top: 0;
      bottom: 0;
      transform: scaleX(0.5);
    }
  }
}

// 三倍图和二倍图
// 记得加~
@mixin bg-image($url) {
  background-image: url($url + '@2x.png');

  @media (-webkit-min-device-pixel-ratio: 3), (min-device-pixel-ratio: 3) {
    background-image: url($url + '@3x.png');
  }
}

//隐藏滚动条
@mixin no-scroll-bar {
  scrollbar-width: none;
  /* firefox */
  -ms-overflow-style: none;

  /* IE 10+ */
  &::-webkit-scrollbar {
    display: none;
    /* Chrome Safari */
    -webkit-appearance: none;
    width: 0;
    height: 0;
  }
}

@mixin scroll-bar($bar-width, $radius, $piece-bg, $thumb-bg, $hover-bg) {
  & ::-webkit-scrollbar-track-piece {
    //滚动条凹槽的颜色，还可以设置边框属性
    background-color: $piece-bg;
    border-radius: $radius;
    // border-radius: 50%;
  }

  & ::-webkit-scrollbar {
    //滚动条的宽度
    width: $bar-width;
    height: $bar-width;
  }

  & ::-webkit-scrollbar-thumb {
    //滚动条的设置
    background-color: $thumb-bg;
    background-clip: padding-box;
    min-height: 28px;
    border-radius: $radius;
  }

  & ::-webkit-scrollbar-thumb:hover {
    background-color: $hover-bg;
  }
}
