.video_container {
  position: relative;
  z-index: 998;
  .xgplayer-mobile-playBackRate {
    display: none;
  }

  .xgplayer-unmute-bt {
    display: none !important;
  }

  .trigger {
    display: none !important;
  }
  .xgplayer-replay {
    display: none !important;
  }
  .mute_module {
    position: absolute;
    top: 26px;
    right: 18px;
    padding: 8px 14px 9px;
    height: 38px;
    z-index: 999;
    display: flex;
    align-items: center;
    background: rgba(0, 0, 0, 0.7);
    color: #fff;
    font-size: 16px;
    border-radius: 4px;

    span {
      margin-right: 8px;
    }
    img {
      width: 18px;
      height: 18px;
    }
  }
  .un_mute_module {
    width: 38px;
    height: 38px;
    border-radius: 50%;
    padding: 0;
    justify-content: center;
  }
  // .play_button {
  //   width: 68px;
  //   height: 68px;
  //   position: absolute;
  //   top: 50%;
  //   left: 50%;
  //   transform: translate(-50%, -50%);
  // }
}
