.pay-method {

  margin-bottom: 30px;


  .check-types {
    display: flex;
  }

  .check-types-item {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 110px;
    height: 38px;
    margin-inline-end: 16px;
    background: rgba(255, 255, 255, 0.06);
    border: 1px solid rgba(255, 255, 255, 0.16);
    border-radius: 6px;
    img {
      width: auto;
      height: 20px;
    }
 

    &.check-types-item-active {
      border: 1px solid #E83A57;

    }
  }
}