.arrow_box {
  width: 100%;
  height: 100%;
  background: rgba(0, 0, 0, 0.86);
  border-radius: 0px 0px 0px 0px;
  position: fixed;
  top: 0;
  z-index: 1000;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: flex-end;
  .reelshort_icon {
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 0 auto;

    img {
      width: 68px;
      height: 68px;
    }
  }
  .reelshort_name {
    margin: 12px auto;
    width: 108px;
    height: 34px;
    font-size: 24px;
    font-family: Sofia Pro-Bold, Sofia Pro;
    font-weight: bold;
    color: #ffffff;
  }
  .search-box {
    width: 320px;
    height: 44px;
    background: #f5f5f5;
    border-radius: 6px 6px 6px 6px;
    border: 1px solid #e83a57;
    margin: 0 auto;
    display: flex;
    align-items: center;
    padding: 0 15px;
    margin-top: 36px;
    justify-content: space-between;
    position: relative;

    .search-title {
      font-size: 15px;
      font-family: Sofia Pro-Bold, Sofia Pro;
      font-weight: bold;
      color: #222222;
      width: 230px;
      height: 44px;
      line-height: 44px;
      overflow: hidden;
      white-space: nowrap;
      text-overflow: ellipsis;
    }
    .search-icon {
      width: 20px;
      height: 20px;
      img {
        width: 20px;
        height: 20px;
      }
    }
    &::before {
      content: ' ';
      width: 1px;
      height: 23px;
      background: rgba(0, 0, 0, 0.16);
      position: absolute;
      right: 44px;
    }
  }
  .chepter-info {
    text-align: center;
    height: 20px;
    margin: 0 auto;
    font-size: 14px;
    margin-top: 23px;
    font-family: Sofia Pro-Bold, Sofia Pro;
    font-weight: bold;
    color: #fe4167;
    // line-height: 12px;
  }
  .arrows {
    margin: 30px auto;
    // margin: 15px auto;
    // width: 64px;
    // height: 106px;

    img {
      width: 50px;
      height: 82px;
    }

    // background-color: aqua;

    // .arrow {
    //   // &::before {
    //   //   content: '';
    //   //   position: absolute;
    //   //   bottom: -4px;
    //   //   left: -3px;
    //   //   width: 2px;
    //   //   height: 3px;
    //   //   border-top-left-radius: 4px;
    //   //   border-bottom-left-radius: 4px;
    //   //   background-color: #fff;
    //   // }

    //   // &::after {
    //   //   content: '';
    //   //   position: absolute;
    //   //   top: -3px;
    //   //   right: -4px;
    //   //   width: 3px;
    //   //   height: 2px;
    //   //   border-top-right-radius: 4px;
    //   //   border-top-left-radius: 4px;
    //   //   background-color: #fff;
    //   // }
    // }

    /**
        第一步（0s）：I出现
        第二步（1s）：I消失到一半，II出现
        第三步（2s）：I消失完，II消失到一半，III出现
        第四步（3s）：II消失，III消失
  
    */
    // .arrow1 {
    //   animation: showHide 1s ease-in infinite;
    // }

    // .arrow2 {
    //   animation: showHide 1s ease-in 0.33s infinite;
    // }

    // .arrow3 {
    //   animation: showHide 1s ease-in 0.66s infinite;
    // }

    // @keyframes showHide {
    //   0% {
    //     opacity: 1;
    //   }

    //   50% {
    //     // 1s
    //     opacity: 0;
    //   }

    //   100% {
    //     opacity: 0;
    //   }
    // }
  }
}
// margin: 15px auto;
// width: 64px;
// height: 106px;
