.fall_ground_box3 {
  position: relative;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  max-width: 750px;
  padding: 23px 18px 99px;
  overflow: hidden;

  .header {
    display: flex;
    align-items: center;
    
    .header_icon {
      width: 36px;
      height: 36px;
      background: url(../../assets/logo.png) no-repeat;
      background-size: cover;
    }

    .header_title {
      margin-left: 6px;
      font-size: 16px;
      line-height: 22px;
      color: #FFFFFF;
    }
  }

  .cover {
    margin-top: 26px;
    width: 273px;
    height: 364px;
    border-radius: 6px;
    overflow: hidden;

    img {
      width: 100%;
      height: 100%;
    }
  }
  
  .title {
    margin-top: 23px;
    width: 100%;
    font-size: 19px;
    line-height: 26px;
    color: #F5F5F5;
    font-weight: 500;
  }

  .desc {
    margin-top: 6px;
    font-size: 13px;
    line-height: 20px;
    font-weight: 500;
    color: rgba($color: #fff, $alpha: .9);
  }
}