$spin_width : 30px;
.spin {
  position: fixed;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  background: rgba(0, 0, 0, 0.5);
  z-index: 10000;
}

.lds-ring {
  
  position: absolute;
  width: $spin_width;
  height: $spin_width;
  left: 50%;
  top: 50%;
  transform: translateX(-50%) translateY(-50%);
}

.lds-ring div {
  box-sizing: border-box;
  display: block;
  position: absolute;
  width: $spin_width;
  height: $spin_width;
  // margin: 8px;
  border: 3px solid #e83a57;
  border-radius: 50%;
  animation: lds-ring 1.2s cubic-bezier(0.5, 0, 0.5, 1) infinite;
  border-color: #e83a57 transparent transparent transparent;
}

.lds-ring div:nth-child(1) {
  animation-delay: -0.45s;
}

.lds-ring div:nth-child(2) {
  animation-delay: -0.3s;
}

.lds-ring div:nth-child(3) {
  animation-delay: -0.15s;
}

@keyframes lds-ring {
  0% {
    transform: rotate(0deg);
  }

  100% {
    transform: rotate(360deg);
  }
}



