.buySusscessModel {
  width: 289px;
  height: 432px;
  background: url(https://v-mps.crazymaplestudios.com/images/70d167c0-82b4-11ee-aed2-cfe3d80f70eb.png)
    no-repeat;
  background-size: 100% auto;
  border-radius: 6px 6px 6px 6px;

  .model_Header {
    width: 305px;
    height: 127px;
    top: 0;
    background: url(https://v-mps.crazymaplestudios.com/images/7067f790-82b4-11ee-aed2-cfe3d80f70eb.png)
      no-repeat;
    background-size: 100% auto;
    display: flex;
    flex-direction: column;
    align-items: center;
    transform: translate(-10px, -7px);
    .header_title {
      width: 288px;
      height: 39px;
      margin-top: 18px;
      background: url(https://v-mps.crazymaplestudios.com/images/01c13fe0-85de-11ee-aed2-cfe3d80f70eb.png)
        no-repeat;
      background-size: 100% auto;
    }
    .header_info {
      width: 230px;
      height: 64px;
      margin-top: 7px;
      color: #c4c4c4;
      font-size: 13px;
      text-align: center;
      span {
        font-size: 15px;
        color: #ffd91d;
        display: inline-block;
      }
    }
  }
  .model_content {
    width: 140px;
    height: 186px;
    margin: 0 auto;
    margin-top: 12px;
  }
  .model_btn {
    margin: 0 auto;
    margin-top: 21px;
    display: flex;
    flex-direction: column;
    align-items: center;
    .model_btn_CountdownTimer {
      font-size: 12px;
      line-height: 15px;
      color: #d2d2d2;
      margin: 0 auto;
    }
    .model_btn_watch {
      width: 227px;
      height: 44px;
      display: flex;
      justify-content: center;
      align-items: center;
      color: #fff;
      font-size: 16px;
      background-color: #e60a7f;
      margin-top: 4px;
    }
  }
}
