@import '~@/styles/defaultStyles.scss';
@font-face {
  font-family: "SofiaPro";
  src: url("../../assets/family/SofiaPro.ttf");
  vertical-align: baseline;
}

* {
  font-family: 'SofiaPro', -apple-system, BlinkMacSystemFont, 'Helvetica', 'Segoe UI', 'Roboto', 'Oxygen', 'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue', sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

html {
  background-color: transparent;
}

body {
  max-width: 1280px;
  margin: 0 auto;
  padding-bottom: constant(safe-area-inset-bottom);
  padding-bottom: env(safe-area-inset-bottom);
}

.main {
  position: relative;
  width: 7.5rem;
  background-color: #000;

  .top-header {
    display: block;
    height: 6.2rem;
    background: url(./assets/header.png) no-repeat;
    background-size: cover;
  }

  .central-content {
    display: block;
    height: 19.83rem;
    background: url(./assets/grid.png) no-repeat;
    background-size: cover;

    .group1 {
      position: relative;
      height: 6.59rem;

      .group-img1 {
        margin-top: -0.36rem;
      }
    }

    .group-img {
      width: 7.14rem;
    }

    .group-text-box {
      position: absolute;
      left: 0.5rem;
      top: -0.36rem;
      width: 6.34rem;
      color: #fff;
    }

    .group-header {
      height: 0.72rem;
      font-size: 0.34rem;
      line-height: 0.8rem;
      font-weight: 700;
      text-transform: uppercase;
    }

    .group-subheader {
      font-size: 0.32rem;
      font-weight: 700;
      line-height: 0.48rem;
      padding-bottom: 0.4rem;
      margin-top: 0.34rem;
    }

    .subheader3 {
        margin-top: 0.6rem;
    }

    .group-content {
        font-size: 0.26rem;
        font-weight: 400;
        line-height: 0.38rem;
        color: rgba(255, 255, 255, 0.7);
    }

    .more-row24 {
        padding-bottom: 0.24rem;
    }

    .more-row12 {
        margin-bottom: 0.12rem;
    }

    .group2 {
        position: relative;
        margin-top: 0.6rem;
        height: 10.94rem;

        .group-text-box2 {
          position: absolute;
          left: 0.5rem;
          top: 0rem;
          width: 6.34rem;
          color: #fff;

          .toast {
            opacity: 0;
            position: absolute;
            top: 0.99rem;
            padding: 0.12rem 0.48rem 0.15rem 0.49rem;
            left: 50%;
            font-size: 0.32rem;
            line-height: 0.38rem;
            font-weight: 400;
            text-align: center;
            transform: translateX(-50%);
            color: rgba(0, 0, 0, 1);
            border-radius: 6px;
        }
      }
    }

    .bottom-footer {
      display: flex;
      flex-direction: column;
      align-items: center;

      .logo {
        width: 1.84rem;
        height: 0.5rem;
        margin-top: 0.6rem;
      }
  
      .footer {
          width: 100%;
          margin-top: 0.6rem;
      }
    }
  }

  .red {
    color: rgba(254, 65, 103, 0.7);
  }

  .success {
    background: rgba(255, 255, 255, 0.94);
  }

  .shortShow {
    animation: showToast 3s ease-in-out;
  }

  @keyframes showToast {
    0% {
        opacity: 0;
    }

    5% {
        opacity: 1;
    }

    95% {
        opacity: 1;
    }

    100% {
        opacity: 0;
    }
  }
}
