.activityEndModal {
  width: 315px;
  height: 170px;
  background: rgba(54, 54, 54, 1);
  background-size: 100% auto;
  border-radius: 6px 6px 6px 6px;
  display: flex;
  flex-direction: column;
  align-items: center;

  .model_Header {
    width: 315px;
    height: 86px;
    background: linear-gradient(
      rgba(154, 61, 107, 0.25) 0%,
      rgba(255, 43, 94, 0) 100%
    );
    border-radius: 6px 6px 6px 6px;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 24px;
    .header_info {
      font-size: 14px;
      // font-weight: 500;
      color: #fff;
      text-align: center;
    }
  }
  .model_btn {
    margin: 0 auto;
    display: flex;
    justify-content: center;

    .look_btn {
      width: 160px;
      height: 44px;
      display: flex;
      justify-content: center;
      align-items: center;
      color: #fff;
      font-size: 16px;
      background-color: rgba(255, 116, 171, 1);
      margin-top: 4px;
      border-radius: 6px;
      padding-top: 3px;
      margin-left: 5px;
    }
  }
}
